

<div class="row">
  <div class="col s4">
    <div class="container">
      <br><img src="/assets/gjf.gif" />
    </div>
  </div>
  
  <div class="col s4">
    <h4>
      <%= @todo_list.date.in_time_zone("Asia/Seoul").strftime("%m월 %d일") %>
      <strong>할일판</strong>
    </h4>
    <div style="box-sizing: border-box;">
      <!--Done: <%#= @todo_list.done %>-->
      <%= render @todo_list.todo_items %><br>
      <%= render "todo_items/form" %>
    </div>
  </div>
  
  <div class="col s4">
    <%= render "todo_lists/comment" %>
  </div>
</div>


<div class="container">
  <div class="field">
    <a href="/"><input type="submit" name="commit" value="뒤로 가기"></a>
  </div>  
</div>